
.center {
    margin: auto;
    width: 25%;
    border: 3px solid rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom:20px;
    text-align:center;
  }

.toast{
    background-color: black;
} 